<!-- Main content -->
<div class="content-wrapper">

  <!-- Content area -->
  <div class="content d-flex justify-content-center align-items-center">

    <!-- Registration form -->
    <form class="signup-form" action="" method="post">
      <div class="card mb-0">
        <div class="card-body">
          <div class="text-center mb-3">
            <%= image_tag('logo_transparent.png', width: "100", alt: "Enterprise Galaxy") %>
            <h5 class="mb-0">Create Enterprise Account</h5>
            <span class="d-block text-muted">All fields are required</span>
          </div>

          <div class="form-group text-center text-muted content-divider">
            <span class="px-2">Your credentials</span>
          </div>

          <div class="form-group row">
            <label class="col-lg-4 col-form-label"><i class="icon-mention text-muted"></i> Contact Email:</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" placeholder="Contatact Email">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-lg-4 col-form-label"><i class="icon-user-lock text-muted"></i> Contact Password:</label>
            <div class="col-lg-8">
              <input type="password" class="form-control" placeholder="Contact Password">
            </div>
          </div>

          <div class="form-group text-center text-muted content-divider">
            <span class="px-2">Business Details</span>
          </div>

          <div class="form-group row">
            <label class="col-lg-4 col-form-label"><i class="icon-office text-muted"></i> Business Name:</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" placeholder="Business Name">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-lg-4 col-form-label"><i class="icon-list text-muted"></i>  Business:</label>
            <div class="col-lg-8">
              <select class="form-control" placeholder="Business Form">
                <option selected value="0">Select Business </option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-lg-4 col-form-label"><i class="icon-list text-muted"></i>  Broad Selector:</label>
            <div class="col-lg-8">
              <select class="form-control" placeholder="Broad Selector Name">
                <option selected value="0">Select Broad Selector Name </option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-lg-4 col-form-label"><i class="icon-calendar text-muted"></i>  Date of Registration:</label>
            <div class="col-lg-8">
              <input type="date" class="form-control" placeholder="Date of Registration">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-lg-4 col-form-label"><i class="icon-calendar text-muted"></i>  Date of Operations:</label>
            <div class="col-lg-8">
              <input type="date" class="form-control" placeholder="Date of business operations">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-lg-4 col-form-label"><i class="icon-list text-muted"></i>  Country:</label>
            <div class="col-lg-8">
              <select class="form-control" placeholder="Broad Country">
                <option selected value="0">Select Country </option>
              </select>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block">Register <i class="icon-circle-right2 ml-2"></i></button>
          <div class="form-group d-flex align-items-center">
            <a href="signin.html" class="ml-auto">Login?</a>
          </div>
        </div>
      </div>
    </form>
    <!-- /registration form -->

  </div>
  <!-- /content area -->


</div>
<!-- /main content -->