  <!-- Content area -->
  <div class="content d-flex justify-content-center align-items-center">

    <!-- Password recovery form -->
    <form class="login-form" action="index.html">
      <div class="card mb-0">
        <div class="card-body">
          <div class="text-center mb-3">
            <%= image_tag('logo_transparent.png', width: "100", alt: "Enterprise Galaxy") %>
            <h5 class="mb-0">Signup options</h5>
            <span class="d-block text-muted">How do you want to sign up?</span>
          </div>
          <a href="/enterprises/registration" class="btn btn-primary btn-block">As Enterprise <i class="icon-circle-right2 ml-2"></i></a>
          <a href="advisers/registration" class="btn btn-primary btn-block">As Adviser <i class="icon-circle-right2 ml-2"></i></a>
          <div class="form-group d-flex align-items-center">
            <a href="signin.html" class="ml-auto">Login?</a>
          </div>
        </div>
      </div>
    </form>
    <!-- /password recovery form -->

  </div>
  <!-- /content area -->