<div class="container h-100 d-flex justify-content-center ">
  <div class="content-wrapper jumbotron my-auto">
    <div class="d-flex justify-content-center">
      <div class="card col-6 text-center">
        <div class="card-header header-elements-inline">
          <h5 class="card-title">Sign In</h5>
        </div>

        <div class="card-body">
          <form action="#">
            <div class="form-group row">
              <label class="col-lg-3 col-form-label">Email:</label>
              <div class="col-lg-9">
                <input type="text" class="form-control col-md-12" placeholder="">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-lg-3 col-form-label">Password:</label>
              <div class="col-lg-9">
                <input type="password" class="form-control col-md-12" placeholder="">
              </div>
            </div>

            <div class="text-center">
              <%= button_to("Sign In",{controller:'auth', action:'signin'}, class: "btn btn-primary col-xl-4", :method => :post) %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>